div
    nav.red.darken-1
        .nav-wrapper.container
            a.brand-logo(href="#")
                | Shubham
        ul.right.hide-on-med-and-down#nav-mobile
            li
                a(href="about.html")
                    | About
            li
                a(href="product.html")
                    | Product
            li
                a(href="contact.html")
                    | Contact